[Desktop Entry]
Type=Application
Version=1.0
Name=OpenCut
GenericName=Video Editor
Comment=Create and edit videos with OpenCut
Exec=@EXEC@
Icon=opencut
Terminal=false
Categories=AudioVideo;AudioVideoEditing;Video;
Keywords=video;editor;timeline;cut;media;
StartupNotify=true
StartupWMClass=opencut
DBusActivatable=false
Actions=Browser;

[Desktop Action Browser]
Name=Open in Firefox
Exec=@EXEC@ --browser
